@using MusicaNobaMVC.Models;
@using MusicaNobaMVC.ViewModels;

@model CancionListViewModel;

@{
    ViewData["Title"] = "Create";
}


<form asp-controller="Canciones" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Artista" class="form-label"></label>
        <input asp-for="Artista" class="form-control" />
        <span asp-validation-for="Artista" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="AlbumId" class="form-label">Ingresa el ID del Album EJ: (1, 2, 3...)</label>
        <input asp-for="AlbumId" class="form-control" />
    <span asp-validation-for="AlbumId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="GeneroId" class="form-label">Ingresa el ID del Genero EJ: (1, 2, 3...)</label>
    <input asp-for="GeneroId" class="form-control" />
    <span asp-validation-for="GeneroId" class="text-danger"></span>
</div>

    <button type="submit" class="btn btn-primary m-3" onclick="sweetalert2()">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - MusicaNobaMVC - <a asp-area="" asp-controller="Cancion" asp-action="Index">Home</a>
    </div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        function sweetalert2(){
            Swal.fire({
                title: "Agregado!",
                icon: "success",
                draggable: true
            });
        }
    </script>
}
