@using MusicaNobaMVC.ViewModels;
@using MusicaNobaMVC.Models;

@model IEnumerable<CancionListViewModel>


@{
    ViewData["Title"] = "MusicaNoba";
}


<div class="container">
            <h1>Musica Noba</h1>
            <p>
                Para ver los albumes, haz click en el siguiente enlace: 
                <a asp-controller="Album" asp-action="Index">Albums</a>
            </p>
        
            <p>
                Para ver los generos, haz click en el siguiente enlace: 
                <a asp-controller="Genero" asp-action="Index">Generos</a>
            </p>
        
</div>

<div class="badge"> 
    @if (User.IsInRole("Admin"))
    {
 
   <a asp-action="Create" asp-controller="Canciones" >Agregar una Nueva Cancion</a>
    }
        
</div>


<table id="canciones" class="display">
    <thead>

        <tr>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Album</th>
            <th>Genero</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var cancion in Model)
        {
            <tr>
                <td>@cancion.Nombre</td>
                <td>@cancion.Artista</td>
                <td>@cancion.AlbumTitulo</td>
                <td>@cancion.GeneroNombre</td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function (){
            $("#canciones").DataTable();
        })

        function sweetalert2() {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });
            e.preventDefault();
        }
        
        new DataTable('#canciones');



    </script>
}
