@using MusicaNobaMVC.Models;
@using MusicaNobaMVC.ViewModels;

@model IEnumerable<GeneroListViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MusicaNoba - Generos";
}

<a asp-action="Create" asp-controller="Genero">Agregar Un Nuevo Genero</a>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Genero</th>
    </tr>
    @foreach (var genero in Model)
    {
        <tr>
            <td>@genero.IdGenero</td>
            <td>@genero.Nombre</td>
        </tr>
    }
</table>
