@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="https://muzikercdn.com/uploads/products/14642/1464213/main_a5d6c894.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Appetite For Destruction</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/Album/Details" class="btn btn-primary">Detalle del Album</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="https://akamai.sscdn.co/uploadfile/letras/albuns/b/4/3/7/209051715005118.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Use Your Illusion 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href=$"/Album/Details/{id}" class="btn btn-primary">Detalle del Album</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/en/3/39/ShoutattheDevil.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shout At The Devil</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href=$"/Album/Details/{id}" class="btn btn-primary">Detalle del Album</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="https://miro.medium.com/v2/resize:fit:1200/1*HygtAUSg3MqQjimu0MQy3Q.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Whiplash Soundtrack</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/Album/Index" class="btn btn-primary">Detalle del Album</a>
                </div>
            </div>
        </div>

        

    </div>
</div>

