@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Estamos joya papa, mira esto</h1>
    <p>Para ver las canciones disponibles ingresa a  <a href="/Canciones/Index">Song Dashboard</a></p>
</div>
