

@model MusicaNobaMVC.Models.Album;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MusicaNoba - Detalle Album";
}

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" asp-controller="Album">Agregar Un Nuevo Album</a>

}


<h2>Detalle del álbum</h2>

<div class="row">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Título</dt>

            <dt class="col-sm-3">Año</dt>
        </dl>
        <dl>
            <dd class="col-sm-9">@Model.Titulo</dd>
            <dd class="col-sm-9">@Model.Anio</dd>
            
        </dl>

        <h4>Canciones</h4>
        <ul>
            @foreach (var cancion in Model.Canciones)
            {
                <li>
                    @cancion.Nombre (@cancion.Artista)
                </li>
            }
        </ul>
        <a asp-action="Index">Volver al listado</a>
    </div>
</div>