@using MusicaNobaMVC.Models;
@using MusicaNobaMVC.ViewModels;

@model IEnumerable<AlbumListViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MusicaNoba - Albumes";
}

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" asp-controller="Album">Agregar Un Nuevo Album</a>
   
}

<table class="table">
    <tr>
        <th>Id del Album</th>
        <th>Nombre del Album</th>
        <th>Año de Lanzamiento</th>
    </tr>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.IdAlbum</td>
            <td>@album.Titulo</td>
            <td>@album.Anio</td>
        </tr>
    }
</table>
